
{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% block body %}


    <form action="{{ path('new_repository') }}" method="post" enctype="multipart/form-data">
        Select name:
        <input type="text" name="repositoryName" >
        
        Select image to upload:
        <input type="file" name="files" webkitdirectory directory >
        
        <button type="submit">Upload</button>
    </form>
  

{% endblock %}